<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Remove cdn on production -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body class="min-w-screen min-h-screen pb-4 bg-base-100">
    <input
      type="checkbox"
      class="checkbox ml-2 image-card-checkbox"
      value="{{ image.id }}"
      onclick="{{ onclickCheckbox }}"
      autocomplete="off"
    />
  </body>
</html>
